<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.asfusion.mango.plugins.paragraphFormatter" name="Paragraph Formatter" version="0.5" provider-name="AsFusion" class="paragraphFormatter.Handler">
<description><![CDATA[
Adds paragraph formatting and html format to prevent cross-site scripting attacks
to comments (and posts if specified, good if you are not using an html editor)
]]>
</description>

  <requiresVersion match="greaterOrEqual">1.3</requiresVersion>
  <listens>
  	<event name="postGetContent" type="synch" priority="6" />
  	<event name="postGetExcerpt" type="synch" priority="6" />
  	<event name="pageGetContent" type="synch" priority="6" />
  	<event name="pageGetExcerpt" type="synch" priority="6" />
  	<event name="commentGetContent" type="synch" priority="6" />
  	<event name="paragraphFormatter-showSettings" type="synch" priority="5" />
  </listens>
</plugin>